#skillBox.expBox(name="skillBox")
    #brown.topWrapper
    #hTitleWrapper.titleWrapper
        h1 Skills
    #hTextWrapper.textWrapper
        
        // skill section
        - var skill_sections = constant.page_text.skills.skill_types;
        - for (var i = 0; i < skill_sections.length; i++)
            .skills
                .topWrapper.changeBrown(openable="#{i}", section='outerSkills', hide='skills-hide#{i}', icon='skills-icon#{i}')
                    h3.title= skill_sections[i].name
                    button.collapseText(id='skills-icon#{i}') -
                .skillText(id='skills-hide#{i}')
                    ul.jobDesc
                        
                        // skill
                        - var skills = skill_sections[i].skills;
                        - for (var j = 0; j < skills.length; j++)
                            li.expandSkillType
                                div.skillTypeTitle(openable="#{j}", section='innerSkills#{i}', hide='skills-hide#{i}-#{j}', icon='skills-icon#{i}-#{j}')
                                    b= skills[j].name
                                    button.collapseTextT(id='skills-icon#{i}-#{j}') -
                                div(id='skills-hide#{i}-#{j}')
                                
                                    // skill details
                                    ul
                                        - var details = skills[j].details;
                                        - for (var k = 0; k < details.length; k++)
                                            li= details[k]
