#expBox.expBox(name="expBox", ng-controller="Portfolio.Experience")
    #orange.topWrapper
    #hTitleWrapper.titleWrapper(name="hTitleWrapper")
        h1 Experience
    #hTextWrapper.textWrapper(name="hTextWrapper")
        - var jobs = constant.page_text.experience.jobs;
        - for (var i = 0; i < jobs.length; i++)
            .job
                .jobTitle(openable="#{i}", section='exp', hide='exp-hide#{i}', icon='exp-icon#{i}')
                    #changeOrange.topWrapper(id='exp-wrapper#{i}')
                        h3.title= jobs[i].date
                        - if (jobs[i].details)
                            button.collapseText(id='exp-icon#{i}') -
                        h3.title_r= jobs[i].company
                - if (jobs[i].details)
                    // name and details
                    .jobText(id='exp-hide#{i}')
                        p.jobName
                            b= jobs[i].position
                        - var details = jobs[i].details;
                        - for (var j = 0; j < details.length; j++)
                            ul.jobDesc
                                li= details[j]