//- Only get system wide scripts on page load
- if (!prev_loaded)
  !!! strict
  html
    head
      // Preload checks: noscript - mobile - IE
      noscript
        meta(http-equiv="refresh", content="0; url=no_script")
        
      // Go to specific lesser IE version or try and render the appropriate interface, notice non-defered
      <!--[if lte IE 8]>
      script
        window.location = "no_script";
      <![endif]-->
      
      // Title and metas
      title= title
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=9")
      meta(name="language", content="en-us")
      meta(name="google-site-verification", content="235PQo0UN80dd5QGhY0NR8UGc2HkUTW_8qTSduslRBs")// required for google webmasters
      meta(name="description", content="Jacob Friesen's Portfolio Website. Contains information on Jacob's previous work, skills, and projects.")
      meta(name="keywords", content= "jacob friesen, jacob friesen web developer, jacob, JACOB, jacob friesen's website")
      meta(name="revisit-after", content="1 day")
      meta(name="classification", content="Jacob Friesen, Home")
      meta(name="Robots", content="INDEX,FOLLOW")
      link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    body
      //- script(src="javascripts/Selector.min.js")
      // Script inlined for faster initialization
      script
        Portfolio={};
        Portfolio.selector=function(c){var f="desktop";return{scripts:{js_loaded:[],common:{js_location:"",js:"/javascripts/jquery.min.js /javascripts/jquery.lightbox_me.min.js /javascripts/prettify.min.js /javascripts/underscore.min.js /javascripts/Utility.min.js /constants.min.js /javascripts/Blog.min.js".split(" ")},desktop:{js_location:"/javascripts/desktop/",js:["min.js"],css_location:"",css:"/stylesheets/desktop/style_c.css /stylesheets/desktop/experience_c.css /stylesheets/desktop/skills_c.css /stylesheets/desktop/demos_c.css /stylesheets/desktop/blog_c.css /stylesheets/desktop/window_tiles_c.css /stylesheets/desktop/icbm.css http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css".split(" ")},mobile:{js_location:"/javascripts/mobile/",
        js:["min.js"],css_location:"",css:"/stylesheets/mobile/style.css /stylesheets/mobile/experience.css /stylesheets/mobile/skills.css /stylesheets/mobile/demos.css /stylesheets/mobile/blog.css http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css".split(" ")}},loaded:{pages:0,js:0,css:0},PAGES_TO_LOAD:2,init:function(a,b,e){if("undefined"!==typeof mocha&&a)return this;0<e.search("mobile")||720>=b?this.render_mobile():this.render_desktop();return this},render_mobile:function(){f="mobile";
        var a=c.createElement("meta");a.name="viewport";a.id="viewport";a.content="width=device-width, initial-scale=1.0";c.head.appendChild(a);this.load_css();this.load_js();this.load_pages(window.location)},render_desktop:function(){f="desktop";c.body.style.display="none";this.load_css();this.load_js();this.load_pages(window.location)},start_system:function(){c.body.style.display="block";for(var a=0;a<this.scripts.js_loaded.length;a+=1){var b=c.createElement("script");b.text=this.scripts.js_loaded[a];b.id=
        "script_injection_"+a;c.head.appendChild(b)}Portfolio.start_system()},is_system_loaded:function(){return this.loaded.css==this.scripts[f].css.length&&this.loaded.js==this.scripts[f].js.length+this.scripts.common.js.length&&this.loaded.pages==this.PAGES_TO_LOAD?!0:!1},add_cache:function(a,b){var e=a.replace("/","").replace("#","")+"_cache";if(null===c.getElementById(e)){var d=c.createElement("div");d.id=e;d.style.display="none";d.innerHTML=b;c.body.appendChild(d);return!0}return!1},mode_to_get:function(){return"?mode="+
        f},load_js:function(){var a=this;this.scripts.js_loaded=Array(this.scripts.common.js.length+this.scripts[f].js.length);for(var b=function(b,d){this.ajax_load("GET",b,function(b){a.scripts.js_loaded[d]=b;a.loaded.js+=1})},e=this.scripts.common.js.length,d=0;d<e;d+=1)b.call(this,this.scripts.common.js_location+this.scripts.common.js[d],d);for(;d<this.scripts[f].js.length+e;d+=1)b.call(this,this.scripts[f].js_location+this.scripts[f].js[d-e],d)},load_css:function(){for(var a=0;a<this.scripts[f].css.length;a+=
        1){var b=c.createElement("link");b.rel="stylesheet";b.type="text/css";b.href=this.scripts[f].css_location+this.scripts[f].css[a];c.head.appendChild(b);this.loaded.css+=1}},load_pages:function(a){var b=this;b.ajax_load("GET","index"+this.mode_to_get(),function(a){b.add_to_body(a);b.loaded.pages+=1})||window.location("/no_script");var e=(a+"").split("#")[0],d=a.pathname;"undefined"===typeof a.pathname?d=e="/home":"/"===a.pathname&&(e+="home",d="home");this.ajax_load("GET",e+this.mode_to_get(),function(a){b.add_cache(d,
        a);b.loaded.pages=b.loaded.pages+1})||window.location("/no_script")},add_to_body:function(a){"undefined"===typeof c.body.innerHTML&&(c.body.innerHTML="");c.body.innerHTML+=a},ajax_load:function(a,b,e,d){var c=function(){if(window.XMLHttpRequest)return new window.XMLHttpRequest;try{return new ActiveXObject("MSXML2.XMLHTTP")}catch(a){return null}}();if(null==c)return!1;c.open(a,b,!0);c.setRequestHeader("Content-Type","application/json");c.onreadystatechange=function(){4==c.readyState&&200==c.status&&
        null!=e&&e(c.responseText)};c.send(d);return!0},set_mode:function(a){f=a},get_mode:function(){return f}}}(window.document).init(!0,screen.width,navigator.userAgent.toLowerCase());(function loaded(){Portfolio.selector.is_system_loaded()&&"undefined"===typeof mocha?Portfolio.selector.start_system():setTimeout(loaded,50)})();
- else
 body!= body
