//- Only get system wide scripts on page load
- if (!prev_loaded)
  !!! strict
  html
    head
      // Preload checks: noscript - mobile - IE
      noscript
        meta(http-equiv="refresh", content="0; url=no_script")
        
      // Go to specific lesser IE version or try and render the appropriate interface, notice non-defered
      <!--[if lte IE 8]>
      script
        window.location = "no_script";
      <![endif]-->
      //-script(src="javascripts/Selector.js", defer="defer")
      
      // Title and metas
      title= title
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=9")
      meta(name="language", content="en-us")
      meta(name="google-site-verification", content="235PQo0UN80dd5QGhY0NR8UGc2HkUTW_8qTSduslRBs")// required for google webmasters
      meta(name="description", content="Jacob Friesen's Website")
      meta(name="keywords", content= "jacob friesen, jacob friesen web developer, jacob, JACOB, jacob friesen's website")
      meta(name="revisit-after", content="1 day")
      meta(name="classification", content="Jacob Friesen, Home")
      meta(name="Robots", content="INDEX,FOLLOW")
      link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
      
      // Interface common js
      script(src="javascripts/jquery.min.js", defer="defer")
      
    body
      // Script inlined for faster initialization
      script(defer="defer")
        var Selector={MOBILE_DOMAIN:"http://m.jacobfriesen.com",NOSCRIPT_DOMAIN:"/no_script",INDEX_PAGE:"index",mode:"desktop",scripts:{js_loaded:[],desktop:{js_location:"javascripts/desktop/",js:["min.js"],css_location:"/stylesheets/desktop/",css:["style_c.css","experience_c.css","skills_c.css","demos_c.css","window_tiles_c.css","icbm_c.css"]},mobile:{css_location:"/stylesheets/mobile/",css:["style.css","experience.css","skills.css","demos.css","blog.css"],js_location:"/javascripts/mobile/",js:["min.js"]}},loaded:{pages:0,js:0,css:0},PAGES_TO_LOAD:2,init:function(c,e,b){var a=720;var d="mobile";if(typeof mocha!=="undefined"&&c){return this}if(b.search(d)>0||e<=a){this.render_mobile()}else{this.render_desktop()}return this},render_mobile:function(){this.mode="mobile";this.load_css();this.load_js();this.load_pages(window.location)},render_desktop:function(){this.mode="desktop";document.body.style.display="none";this.load_css();this.load_js();this.load_pages(window.location)},start_system:function(){document.body.style.display="block";for(var i=0;i<this.scripts.js_loaded.length;i+=1){eval(this.scripts.js_loaded[i])}start_system()},is_system_loaded:function(){if(this.loaded.css==this.scripts[this.mode].css.length&&this.loaded.js==this.scripts[this.mode].js.length&&this.loaded.pages==this.PAGES_TO_LOAD){return true}return false},get_mode_string:function(){return'{"mode": "'+this.mode+'"}'},load_js:function(){var b=this;for(var a=0;a<this.scripts[this.mode].js.length;a+=1){this.ajax_load("GET",this.scripts[this.mode].js_location+this.scripts[this.mode].js[a],null,function(c){b.scripts.js_loaded.push(c);b.loaded.js+=1})}},load_css:function(){for(var b=0;b<this.scripts[this.mode].css.length;b+=1){var a=document.createElement("link");a.rel="stylesheet";a.type="text/css";a.href=this.scripts[this.mode].css_location+this.scripts[this.mode].css[b];document.head.appendChild(a);this.loaded.css+=1}},load_pages:function(a){var b=this;if(!b.ajax_load("POST",this.INDEX_PAGE,document.body,function(e){b.loaded.pages+=1},this.get_mode_string())){window.location(NOSCRIPT_DOMAIN)}var c=(a+"").replace("#","");var d=a.pathname;if(typeof a.pathname==="undefined"){d=c="/home"}else{if(a.pathname==="/"){c+="home";d="home"}}if(!this.ajax_load("POST",c,null,function(e){var f=document.createElement("div");f.id=d.replace("/","").replace("#","")+"_cache";f.style.display="none";f.innerHTML=e;document.body.appendChild(f);b.loaded.pages+=1},this.get_mode_string())){window.location(NOSCRIPT_DOMAIN)}},ajax_load:function(g,e,a,h,c){function f(){if(window.XMLHttpRequest){return new window.XMLHttpRequest}else{try{return new ActiveXObject("MSXML2.XMLHTTP")}catch(i){return null}}}function b(){if(d.readyState==4){if(d.status==200){if(a!=null){if(typeof a.innerHTML==="undefined"||a.innerHTML===""){a.innerHTML=""}a.innerHTML+=d.responseText}if(h!=null){h(d.responseText)}}}}var d=f();if(d==null){return false}else{d.open(g,e,true);d.setRequestHeader("Content-Type","application/json");d.onreadystatechange=b;d.send(c)}return true}}.init(true,screen.width,navigator.userAgent.toLowerCase());(function loaded(){if(Selector.is_system_loaded()&&typeof mocha==="undefined"){Selector.start_system()}else{setTimeout(loaded,50)}})();
- else
  body!= body
