#skillBox.expBox(name="skillBox")
	#brown.topWrapper
		button#closeBtn.closeBtn X
	#hTitleWrapper.titleWrapper(name="hTitleWrapper")
		h1 Skills
	#hTextWrapper.textWrapper(name="hTextWrapper")
		
		// skill section
		- var skill_sections = constant.page_text.skills.skill_types;
		- for (var i = 0; i < skill_sections.length; i++)
			.skills
				.topWrapper.brown(id="skills_collapse_skill_#{i}")
					h3.title= skill_sections[i].name
					button.collapseText(id="skills_collapse_button_#{i}")-
				.skillText(id="collapse_points_skill#{i}")
					ul.jobDesc
						
						// skill
						- var skills = skill_sections[i].skills;
						- for (var j = 0; j < skills.length; j++)
							li.expandSkillType
								b= skills[j].name
								button.collapseTextT(id="skills_point_collapse_skill_#{i}_#{j}")+
								div(id="collapse_point_points_skill_#{i}_#{j}")
								
									// skill details
									ul
										- var details = skills[j].details;
										- for (var k = 0; k < details.length; k++)
											li= details[k]
