#hTitleWrapper.title_bar
    h1(id = "experience_title")= constant.page_text.experience.title
.experience.section
    hr#experience.clear.experience
    // Job block starts
    - var jobs = constant.page_text.experience.jobs
    - for (var i = 0; i < jobs.length; i++)
        .experience.job
            - var id = "no_details_#{i}";
            - if (jobs[i].details)
                - var id='exp_collapse_job_'+i;
            .experience.job_summary_info(openable="#{i}", section='exp', hide='exp-hide#{i}', icon='exp-icon#{i}', icon-shapes='▼▲')
                .title_block
                    .experience.job_titles(id='exp-wrapper#{i}')
                        h3.vertical_title= jobs[i].position
                        h3.vertical_title= jobs[i].company
                    - if (jobs[i].details)
                        button.collapser(id='exp-icon#{i}') ▲
                .clear
                h3.vertical_title= jobs[i].date
            
            // Details of Job block start
            - if (jobs[i].details)
                ul.experience.job_main_points(id='exp-hide#{i}')
                    - var details = jobs[i].details
                    - for (var j = 0; j < details.length; j++)
                        li#experience_color(id="detail#{i}-#{j}")
                            span= details[j]
        - if (i < jobs.length - 1)
            .job_seperator
            hr#experience.clear.experience