.page.experiences.cards
  each experience, index in workExperience.jobs
    .card([class.expanded]=index + ' === collapseManager.openIndex')
      .card-header((click)='collapseManager.toggle('+index+')')
        button.expander
          i.fa.fa-chevron-up(*ngIf=index + ' === collapseManager.openIndex')
          i.fa.fa-chevron-down(*ngIf=index + ' !== collapseManager.openIndex')
        h3.title
          a(href=links[experience.link].address)= links[experience.link].name
          span= ' ' + experience.title
          span.dates
            span.date= experience.startDate
            if experience.endDate
              span &nbsp;-&nbsp;
              span= experience.endDate
      .card-body(*ngIf=index + ' === collapseManager.openIndex')
        hr.separator
        
        p.description#experience-description= experience.description

        ul.points
          each point in experience.points
            li.point= point